@model BilgiTekIzinTakip.Entities.Izinler

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İzinler</h2>

<div class="form-horizontal">

    <div class="card">

        <div class="card-body">
            <h4>Detaylar</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Personel.Ad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Personel.Ad)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Personel.Soyad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Personel.Soyad)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Personel.Baskanlik.Isim)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Personel.Baskanlik.Isim)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Personel.Mudurluk.Isim)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Personel.Mudurluk.Isim)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Personel.Seflik.Isim)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Personel.Seflik.Isim)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BaslangicTarihi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BaslangicTarihi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BitisTarihi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BitisTarihi)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.IzinTipi.IzinTuru)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IzinTipi.IzinTuru)
                </dd>
            </dl>

            <p>
                @Bootstrap.LinkButton("/Izinler/Edit/" + Model.Id, "warning", "btn btn", "Düzenle", "tooltip-edit", "Düzenle")
                @Bootstrap.LinkButton("/Izinler/Index", "secondary", "btn btn", "Listeye geri dön", "keyboard-backspace", "Listeye geri dön")
            </p>
        </div>
      
    </div>
</div>