<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/images/favicon.png">
    <title>@ViewBag.Title</title>
        <link href="~/Content/assets/libs/flot/css/float-chart.css" rel="stylesheet">
        <link href="~/Content/dist/css/style.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        @Html.Partial("_PartialHeader")
        @Html.Partial("_PartialSidebar")
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">@ViewBag.Title</h4>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

    </div>

            <script src="~/Content/assets/libs/jquery/dist/jquery.min.js"></script>
            <script src="~/Content/assets/libs/popper.js/dist/umd/popper.min.js"></script>
            <script src="~/Content/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="~/Content/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
            <script src="~/Content/assets/extra-libs/sparkline/sparkline.js"></script>
            <script src="~/Content/dist/js/waves.js"></script>
            <script src="~/Content/dist/js/sidebarmenu.js"></script>
            <script src="~/Content/dist/js/custom.min.js"></script>
            <script src="~/Content/assets/libs/flot/excanvas.js"></script>
            <script src="~/Content/assets/libs/flot/jquery.flot.js"></script>
            <script src="~/Content/assets/libs/flot/jquery.flot.pie.js"></script>
            <script src="~/Content/assets/libs/flot/jquery.flot.time.js"></script>
            <script src="~/Content/assets/libs/flot/jquery.flot.stack.js"></script>
            <script src="~/Content/assets/libs/flot/jquery.flot.crosshair.js"></script>
            <script src="~/Content/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
            <script src="~/Content/dist/js/pages/chart/chart-page-init.js"></script>

</body>

</html>