<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/images/favicon.png">
    <title>@ViewBag.Title</title>

    <link href="~/Content/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link href="~/Content/assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <link href="~/Content/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/extra-libs/multicheck/multicheck.css">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/libs/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/build/css/bootstrap-datetimepicker.min.css">
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    @RenderSection("Scripts", false)

    <div id="main-wrapper">
        @Html.Partial("_PartialHeader")
        @Html.Partial("_PartialSidebar")
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                @RenderBody()
            </div>



        </div>

    </div>

    <script src="~/Content/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>

    <script src="~/Content/jquery-ui.min.js"></script>
    <script src="~/Content/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="~/Content/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="~/Content/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="~/Content/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Content/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Content/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/Content/dist/js/waves.js"></script>
    <script src="~/Content/dist/js/sidebarmenu.js"></script>
    <script src="~/Content/dist/js/custom.min.js"></script>
    <script src="~/Content/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="~/Content/assets/libs/flot/excanvas.js"></script>
    <script src="~/Content/assets/libs/flot/jquery.flot.js"></script>
    <script src="~/Content/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="~/Content/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="~/Content/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="~/Content/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/dist/js/pages/chart/chart-page-init.js"></script>
    <script src="~/Content/build/js/bootstrap-datetimepicker.min.js"></script>

    @*<script src="~/Content/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="~/Content/dist/js/pages/calendar/cal-init.js"></script>*@


    <script>
        $('.demo').each(function () {
            //
            // Dear reader, it's actually very easy to initialize MiniColors. For example:
            //
            //  $(selector).minicolors();
            //
            // The way I've done it below is just for the demo, so don't get confused
            // by it. Also, data- attributes aren't supported at this time...they're
            // only used for this demo.
            //
            $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });

        $('#zero_config').DataTable();
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: "DD/MM/YYYY HH:mm",
            });
            $('#datetimepicker2').datetimepicker({
                format: "DD/MM/YYYY HH:mm", 
            });
        });
        $(function() {
                $("#PersonelId").autocomplete({
                    source: '@Url.Action("GetPerson","Izinler")'
                });

            });
    </script>


</body>

</html>