@model IEnumerable<BilgiTekIzinTakip.Entities.Baskanlik>

@{
    ViewBag.Title = "Başkanlık";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Başkanlık</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Isim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Isim)
        </td>
        <td>
            @Bootstrap.LinkButton("/Baskanlik/Edit/"+ item.Id, "cyan", "btn-sm", "Düzenle", "tooltip-edit", "Düzenle")
            @Bootstrap.LinkButton("/Baskanlik/Details/" + item.Id, "success", "btn-sm", "Detay", "details", "Detay")
            @Bootstrap.LinkButton("/Baskanlik/Delete/" + item.Id, "danger", "btn-sm", "Düzenle", "delete", "Sil")
        </td>
    </tr>
}

</table>
