@helper LinkButton(string id = "", string url = "", string color = "", string addtionalClass = "", string title = "", string icon = "", string text = "")
{
    <a href="@url" id="@id" name="@id" class="btn btn-@color @addtionalClass" title="@title"><i class="m-r-10 mdi mdi-@icon"></i>@text</a>
}
@helper LinkButton(string url = "", string color = "", string addtionalClass = "", string title = "", string icon = "", string text = "")
{
    <a href="@url" class="btn btn-@color @addtionalClass" title="@title"><i class="m-r-10 mdi mdi-@icon"></i>@text</a>
}
@helper Button(string id = "", string color = "", string addtionalClass = "", string type = "button", string icon = "", string text = "")
{
    <button id="@id" name="@id" class="btn btn-@color @addtionalClass" type="@type"><i class="m-r-10 mdi mdi-@icon"></i>@text</button>
}
@helper Button(string color = "", string addtionalClass = "", string type = "button", string icon = "", string text = "")
{
    <button class="btn btn-@color @addtionalClass" type="@type"><i class="m-r-10 mdi mdi-@icon"></i>@text</button>
}