 @model BilgiTekIzinTakip.Entities.Personel

@{
    ViewBag.Title = "Personel";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Personel Ekle</h4>
                    <div class="form-group">
                        <hr />
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="form-group row">
                            @Html.LabelFor(model => model.SicilNo, htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-4">
                                @Html.EditorFor(model => model.SicilNo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Baskanlik.Isim, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">

                                @Html.DropDownList("BaskanlikId", null, "Seçiniz", htmlAttributes: new { @class = "select2 form-control custom-select select2-hidden-accessible col-md-12" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Mudurluk.Isim, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">

                                @Html.DropDownList("MudurlukId", null, "Seçiniz", htmlAttributes: new { @class = "select2 form-control custom-select select2-hidden-accessible col-md-12" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Seflik.Isim, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.DropDownList("SeflikId", null, "Seçiniz", htmlAttributes: new { @class = "select2 form-control custom-select select2-hidden-accessible col-md-12" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.DahiliNumarasi, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DahiliNumarasi, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.CheckBoxFor(model=>model.IsAdmin,false)
                            </div>
                        </div>

                        <div class="form-group row">

                            <div class="col-md-2 m-t-15">
                                <button type="submit" class="btn btn-success">Ekle</button>
                            </div>
                        </div>
                        <div>

                            @Bootstrap.LinkButton("/Personel/Index", "secondary", null, "Listeye geri dön", "keyboard-backspace", "Listeye geri dön")

                        </div>
                    </div>


                </div>


        </div>

        
    </div>
</div>

    }

    





<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
