@model BilgiTekIzinTakip.Entities.Personel

@{
    ViewBag.Title = "Personel Ekle";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal">
                <div class="card-body">
                    <h4 class="card-title">Personal Info</h4>
                    <div class="form-group">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group row">
                            @Html.LabelFor(model => model.SicilNo, htmlAttributes: new { @class = "control-label col-md-2" })

                            <div class="col-md-4">
                                @Html.EditorFor(model => model.SicilNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SicilNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.DahiliNumarasi, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.DahiliNumarasi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DahiliNumarasi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.KullaniciAdi, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "col-md-2 control-label" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="col-md-3 col-sm-12">
                            <input type="submit" value="Ekle" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
         
    </div>
</div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
