@model IEnumerable<BilgiTekIzinTakip.Entities.Personel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personel</h2>

<p>
    @Bootstrap.LinkButton("/Personel/Create", "primary", "btn btn", "Yeni Ekle", "plus", "Yeni Ekle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SicilNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DahiliNumarasi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SicilNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DahiliNumarasi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Bootstrap.LinkButton("/Personel/Edit/" + item.Id, "cyan", "btn-sm", "Düzenle", "tooltip-edit", "Düzenle")
            @Bootstrap.LinkButton("/Personel/Details/" + item.Id, "success", "btn-sm", "Detay", "details", "Detay")
            @Bootstrap.LinkButton("/Personel/Delete/" + item.Id, "danger", "btn-sm", "Düzenle", "delete", "Sil")
        </td>
    </tr>
}

</table>
