@model BilgiTekIzinTakip.Entities.IzinTipi

@{
    ViewBag.Title = "İzin Tipi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sil</h2>

<h3>Bunu silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>İzin Tipi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IzinTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IzinTuru)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        @Bootstrap.Button("danger", "btn-secondary", "submit", "trash-alt", "Sil")

        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
    }
</div>
