@model BilgiTekIzinTakip.Entities.IzinTipi

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İzin Tipi</h2>

<div class="form-horizontal">

    <div class="card">

        <div class="card-body">
            <h4>Detaylar</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IzinTuru)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IzinTuru)
                </dd>
                <dt>
                @Html.DisplayNameFor(model => model.RenkKodu)
                </dt>

                <dd>
                    <div style="width:10px; height:10px; background-color:@Model.RenkKodu"></div>@Html.DisplayFor(model => model.RenkKodu)
                </dd>

            </dl>
            <p>
                @Bootstrap.LinkButton("/IzinTipi/Edit/" + Model.Id, "warning", "btn btn", "Düzenle", "tooltip-edit", "Düzenle")
                @Bootstrap.LinkButton("/IzinTipi/Index", "secondary", "btn btn", "Listeye geri dön", "keyboard-backspace", "Listeye geri dön")
            </p>
        </div>
       
    </div>
</div>
