@model IEnumerable<BilgiTekIzinTakip.Entities.IzinTipi>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İzin Tipi</h2>
<div class="form-horizontal">
    <div class="card">

        <div class="card-body">
            <p>
                @Bootstrap.LinkButton("/IzinTipi/Create", "primary", "btn btn", "Yeni Ekle", "plus", "Yeni Ekle")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IzinTuru)
                    </th>
                    <td>
                        @Html.DisplayNameFor(model => model.RenkKodu)
                    </td>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IzinTuru)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RenkKodu)
                        </td>
                        <td>
                            @Bootstrap.LinkButton("/IzinTipi/Edit/" + item.Id, "cyan", "btn-sm", "Düzenle", "tooltip-edit", "Düzenle")
                            @Bootstrap.LinkButton("/IzinTipi/Details/" + item.Id, "success", "btn-sm", "Detay", "details", "Detay")
                            @Bootstrap.LinkButton("/IzinTipi/Delete/" + item.Id, "danger", "btn-sm", "Düzenle", "delete", "Sil")
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
